In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# read data from notebook directory
data = pd.read_csv(os.path.join(os.getcwd() + "/wikipedia-pageviews.csv"))

# print first 5 rows
print(data.tail())

         year  month  day                       article  views  rank
3702670  2025      4   25  Pinkerton_(detective_agency)   9057   995
3702671  2025      4   25              Voice_of_Vietnam   9055   997
3702672  2025      4   25                       Madonna   9054   998
3702673  2025      4   25                   Jawed_Karim   9041   999
3702674  2025      4   25                        CD-ROM   9027  1000

In [19]:
# find most common article in each year
data.query('year == 2024 and rank==12').article.value_counts().head(100)

article
Cleopatra                                   29
Deaths_in_2024                              21
Pornhub                                     14
XXXTentacion                                 9
YouTube                                      7
                                            ..
Jimmy_Carter                                 1
Lady_Gabriella_Kingston                      1
2012_United_States_presidential_election     1
Hillbilly_Elegy                              1
Dave_Grohl                                   1
Name: count, Length: 100, dtype: int64

In [25]:
data.groupby('article').agg({'views': 'count'}).reset_index()\
    .sort_values('views', ascending=False).head(100)

                       article  views
138194   Portal:Current_events   3703
187874            World_War_II   3703
21949                Australia   3703
55389             Elizabeth_II   3703
43584        Cristiano_Ronaldo   3703
...                        ...    ...
183100          Vladimir_Putin   3238
186888     William_Shakespeare   3236
112086  Manchester_United_F.C.   3230
124897                Napoleon   3222
46705              David_Bowie   3211

[100 rows x 2 columns]